.title {
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0 1rem 0;
  line-height: 3.5rem;
}

.location {
  text-align: center;
  color: #aaa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}

.loading {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: #aaa;
  margin-top: 10rem;
}

.weather-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 4rem;
}

.weather-card {
  margin: 0.5rem;
  margin: 1rem;
}

.weather-card:hover {
  background: #eee;
  cursor: pointer;
  box-shadow: 0 0 3px orange;
}

.weather-card:first-child {
  border: 1px solid #ddd;
  background: #eee;
}

.result-loading {
  opacity: 0;
}

.result-loaded {
  opacity: 1;
  transition: 0.6s ease-in all;
}
