:root {
  --radius: 1rem;
  --inactive-bg-color: rgba(128, 128, 128, 0.3);
  --active-bg-color: rgba(34, 139, 34, 0.3);
  --convert-radius: 2rem;
}
.button {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.convert {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.convert__annimation {
  display: flex;
  align-items: center;
  background: var(--active-bg-color);
  border-top-right-radius: var(--convert-radius);
  border-bottom-right-radius: var(--convert-radius);
  border-top-left-radius: var(--convert-radius);
  border-bottom-left-radius: var(--convert-radius);
  width: 6rem;
  height: 2.5rem;
}
.convert__annimation:hover {
  cursor: pointer;
}
.fahrenheit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  letter-spacing: -0.1rem;
  border-radius: 50%;
  background: white;
  transform: translateX(0.5rem);
  transition: all 0.002s ease;
  color: #777;
}
.celsius {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  letter-spacing: -0.1rem;
  border-radius: 50%;
  background: white;
  transform: translateX(3.5rem);
  transition: all 0.002s ease;
  color: #777;
}
